<section id="best" class="blog">
			<div class="container">
				<div class="blog-details">
						<div class="gallary-header text-center">
							<h2>
								Best Posts
							</h2>
							<p>
								"Learn, and you will always succeed"
							</p>
						</div><!--/.gallery-header-->
						<div class="blog-content">
							<div class="row">
								{%for post in best_posts%}
									{%include 'blog/post/includes/posts_form.html' %}
								{%endfor%}
							</div><!--/.row-->
						</div><!--/.blog-content-->
					</div><!--/.blog-details-->
				</div><!--/.container-->

		</section><!--/.blog-->